body{
  display: border-box;
  margin:5px;
}
.items-btn{
  margin-left: 85%;
  padding:15px
}
.items-wrapper{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
}

.item-card{
  padding:10px;
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  margin:15px;
  background-color: rgb(247, 245, 242);
  justify-content: center;
  text-align: center;
}

.item-img{
  width:200px;
  height:180px;
}

.add-to-cart{
  display:flex;
  flex-direction: row;
  text-align: center;
}

.header-nav{
  display:flex;
  flex-direction: row;
  justify-content: flex-end; 
  width: 90%;
}
.header-nav span{
  margin:15px;
}
.checked {
  color: orange;
}
.rating-stars{
  width:180px;
  height:35px
}
.product-item{
  display:flex;
  flex-direction: row;
}
.item-img {
  width:50%;
}

.prodcut-detail{
  display: flex;
  flex-direction: column;
  width:50%;
}
