body{
  display: border-box;
}
.items-btn{
  margin-left: 85%;
  padding:15px;
  
}
.items-wrapper{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
}

.item-card{
  padding:10px;
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  margin:20px;
  background-color: rgb(247, 245, 242);
  justify-content: center;
  text-align: center;
  padding-left: 2%;
}
.item-card:hover{
  transform: scale(1.05);
}

.item-img{
  width:200px;
  height:180px;
  padding-left: 15px;
  padding-top: 10px;
}

.add-to-cart{
  display:flex;
  flex-direction: row;
  text-align: center;
}

.header-nav{
  display:flex;
  flex-direction: row;
  justify-content: flex-end; 
  width: 95%;
}
.header-nav span{
  margin:15px;
}

.item-path-detail input{
  width:80%;
  margin-left: 5%;
  margin-top: 50px;
  height:30px
}
.item-path-detail button{
  height:36px;
}

.rating-stars{
  width:180px;
  height:35px
}
.product-item{
  display:flex;
  flex-direction: row;
}

.prodcut-detail{
  display: flex;
  flex-direction: column;
  width:50%;
}

.icons-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
  background-color: rgb(65, 121, 156);
  padding:10px;
  height: 70px;
  color: aliceblue;
}

.footer-icon{
  width:50px;
  height:50px;
}